*{
    margin: 0%;
    padding: 0%;
}
.container-fluid{
    background-color: rgb(33, 33, 33);
    width: 1850px;
    overflow-x: hidden;
    background: fixed;
    background-size: 100% 100% ;
    /* box-shadow: 20px 20px 10px grey; */
    animation: slider 10s linear infinite;
}
@keyframes slider{
    0%{background-image: url("./assets/Beauti1.jpg");}
    30%{background-image: url("./assets/Beauti2.jpg");}
    60%{background-image: url("./assets/Beauti3.jpg");}
    100%{background-image: url("./assets/Beauti4.jpg");}
}
.page1{
    height: 100vh;
    text-align: center;
}
.page2{
    height: 100vh;
    text-align: center;
}
.page3{
    height: 100vh;
    text-align: center;
}
.page4{
    height: 100vh;
    text-align: center;
}



/* PAGE1 */
nav{
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.hd{
    position: relative;
    cursor: pointer;
    transition: color 0.25s;
    font-size: 30px;
    padding: 0.5rem 1rem;
}
.hd::after{
    position:absolute;
    content: "";
    inset: 0;
    background:red;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px; 
}
.hd:hover{
    color: black;
}
.hd:hover::after{
    scale: 1 1; 
 }

.img-fluid{
    position: absolute;
    top: 30vh;
    left: 110vh;
    border-radius: 30px;
}
.img-fluid:hover{
    box-shadow: rgb(233,173,53) 2px 2px 15px;
}
.hcon{
    position: absolute;
    top: 40vh;
    left: 30vh;
    display: inline-block;
}
.hcon p{
    font-weight: 700;
    letter-spacing: 45px;
    font-size: 40px;
    overflow: hidden;
    font-size: 3.6rem;
    border-right: .15em solid red;
    white-space: nowrap;
    animation: typing 4s steps(40,end) infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.hcon h2{
    letter-spacing: 14px;
    font-size: 40px;
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 800px;
    border-right: .15em solid whitesmoke;
    white-space: nowrap;
    animation: typing 4s steps(40,end) infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.button{
    position:absolute;
    top: 65vh;
    left: 60vh;
    width: 150px;
    height: 60px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
}
.button:hover{
    box-shadow: rgb(233,173,53) 2px 2px 15px;
}




/* PAGE2 */
.about{
    position: absolute;
    top: 135vh;
    left: 25vh;
    font-size: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
/* .about:hover{
    box-shadow: rgb(255,255,255) 2px 2px 15px;
} */
.all{
    position: absolute;
    top: 155vh;
    left: 60vh;
    font-size: 30px;
    background-color: transparent;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;


    
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
.Iam1{
    margin-right: 115px;
}
.Iam3{
    margin-right: 40px;
}
.abt{
    line-height: 80px;
}


/* PAGE3 */
.ps{
    position: absolute;
    top: 230vh;
    left: 45vh;
    font-size: 100px;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
.skill{
    position: absolute;
    top: 250vh;
    left: 65vh;
    font-size: 30px;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
.pscont{
    line-height: 80px;
}
.ps-cont1{
    margin-right: 110px;
}
.ps-cont2{
    margin-right: 140px;
}
.ps-cont3{
    margin-left: 30px;
}




/* PAGE4 */
.contacth{
    font-size: 100px;
    position: absolute;
    top: 328vh;
    left: 45vh;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
.contdet{
    position: absolute;
    top: 355vh;
    left: 25vh;
    color: #0e3742;
    -webkit-box-reflect: below 1cpx linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
.gmail{
        margin-left: 37px;
}
.linkedin{
        margin-left: 37px;
}
.wp{
    font-size: 50px;
    margin-top: 40px;
}
.gp{
    font-size: 50px;
    margin-top: 40px;
}
.lp{
    font-size: 50px;
    margin-top: 40px;
}



/* RESPONSIVE */
@media screen and(max-width:420px){
    
}